.contacts {
    padding: 100px 0;
    &__wrapper {
        display: grid;
        margin-top: 48px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }
    &__item {
        &__title {
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            margin-bottom: 18px;
        }
        &__link {
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #000;
            text-decoration: none;
            display: block;
            position: relative;
            width: fit-content;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 0%;
                background-color: #000;
                transition: width .3s ease-in-out;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__form {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10%;
            margin-top: 48px;
            .btn_main {
                margin-top: 48px;
                width: 100%;
                max-width: 350px;
            }
        }

    }
    &__img {
        width: 100%;
        img {
            max-width: 100%;
        }
    }
}
.form {
    &__input {
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
        height: 40px;
        padding: 4px;
        font-size: 16px;
        &:focus {
            outline: 3px solid #6e9c9f;
           
        }
        &__wrapper {
            position: relative;
            margin-bottom: 32px;
            label {
                font-weight: 500;
                font-size: 17px;
                line-height: 140%;
                color: #868686;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: block;
                background: #fff;
                padding: 4px;
                transition: all .3s;
            }
            input:not(:placeholder-shown) + label,
            input:focus-visible + label {
            transform: translateY(-130%);
            font-size: 14px;
        }
        }
        
    }
    &__textarea {
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
        font-family: inherit;
        padding: 4px;
        font-size: 16px;
        resize: none;
        font-weight: 500;
        height: 100px;
        &:focus {
            outline: 3px solid #6e9c9f;
            
        }
    }
 
}